{% extends "base.html" %}


{% block content %}
<div class="card border-primary " style="width:40rem; height:50vh">
    <div class="card-header" >
        Formulaire de paiement
    </div>
    <div class="card-body ">
        <form method="Post">
            {% csrf_token %}
            <div style="margin-bottom:30px;">
              <input  type="text" name="item_name" class="form-control" placeholder="Nom du produit" autocomplete="off" required>
            </div>
            
            <div style="margin-bottom:30px;"> 
              <input  type="number" name="item_price" class="form-control" placeholder="Prix" autocomplete="off" required>
              {% if form.item_price.errors %}
                <p class="font-weight-light text-danger">{{ form.item_price.errors.0 }}</p>  
              {% endif %}
            </div>
            <div style="margin-top:20px;">  
            <button type="submit" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payer</button>
            <div>
            </form>
    </div>
  </div>
  <div style="margin-top:50px;">  
    <a href="{% url "paydunya_payment" %}" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paydunya</a>
  <div>
{% endblock content %}