{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card border-primary " style="width:40rem; height:60vh">
  <div class="card-header">
      Formulaire de paiement
  </div>
  <div class="card-body ">
      <form method="Post">
          {% csrf_token %}
          <div style="margin-bottom:30px;">
            <input  type="text" name="nom" class="form-control" id="exampleInputitem_name" placeholder="Nom du produit" autocomplete="off" required>
          </div>
          
          <div style="margin-bottom:30px;"> 
            <input  type="number" name="prix_unite" class="form-control" placeholder="Prix" autocomplete="off" required>
          </div>
          <div style="margin-bottom:30px;">
            <input  type="number" name="quantite" class="form-control" placeholder="Quantité" autocomplete="off" required>
          </div>
          <div style="margin-top:20px;">  
            <button type="submit" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payer</button>
          <div>
          </form>
  </div>
</div>
<div style="margin-top:50px;">  
  <a href="{% url "paytech_payment" %}" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paytech</a>
<div>
{% endblock content %}